.container-bg
{
  background: linear-gradient(to bottom, #CDCABF, #AD5321);
}


.project-bg
{
  background: linear-gradient(to left, #3A72A8, #3874A7);
}


.task-bg
{
  background-color: #D1D1D1;
}


.color-pipe
{
  color: #417AB3;
}


.v-align
{
  vertical-align: text-bottom;
}


.pt-6
{
  padding-top: 6px;
}


.color-icon
{
  color: #93B0CF;
}


.div-radius
{
  border-radius: 0 0 10px 10px;
}

.color-plus-gren
{
  color: #598E73;
  margin-top: 4px;
}


.color-pen-task
{
  color: #989898;
}


.padding
{
  padding: 21px;
}


.margin-left
{
  margin-left: 50px;
}


.color-plus-blue
{
  color: #3870AD;
}


.text-color-white
{
  color: #FFFFFF;
  vertical-align: super;
  font-size: 20px;
  font-weight: bold;
  padding-left: 15px;
}


.add-project-bg
{
  background: #4276AA;
}


.margin-b
{
  margin-bottom: 50px;
}


.gren-button
{
  background-color: #6EA68B;
  color: white;
}

#task_name
{
  margin-left: 15px;
}
